@import url("https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
#main-section {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.wrapper-container {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}
.wrapper-container .image-container {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex: 0 0 50%;
}

.wrapper-container .image-container::after {
  content: "sweet iced coffee with coconut milk";
  position: absolute;
  width: 30%;
  bottom: 10px;
  left: 0;
  background-color: black;
  color: #fff;
  z-index: 1;
  text-transform: uppercase;
}

.overlay-container {
  position: absolute;
  background-color: rgb(255, 255, 255);
  width: 300px;
  right: 40%;
  top: 10%;
  padding: 10px;
  box-shadow: 2px 0px 10px 0px gray;
}

.stars-container {
  display: flex;
  align-items: center;
}

.stars-container span {
  margin-left: 7px;
}
.wrapper-container .image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.details-container {
  position: fixed;
  top: 195px;
  left: 75%;
  transform: translateX(-50%);
  width: 50%;
  padding: 10px;
}

.badge-info-container {
  display: flex;
  gap: 1rem;
}

.badge-element {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.badge-element .details-wrapper .title-badge {
  text-transform: uppercase;
}

.badge-element .details-wrapper .detail {
  color: orange;
}

.desc-wrapper {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.desc-wrapper p {
  font-style: italic;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.checkbox-item {
  display: flex;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
}

.checkbox {
  display: none;
}

.checkbox + .tick {
  width: 14px;
  height: 14px;
  border: 2px solid #333;
  border-radius: 4px;
  margin-right: 10px;
  position: relative;
}

.checkbox:checked + .tick {
  background-color: #4eaf4c; /* Green background when checked */
}

.checkbox:checked + .tick::after {
  content: ""; /* Tick mark when checked */
  color: white;
  position: absolute;
  top: 2px;
  left: 4px;
  font-size: 16px;
}

.instruction-container {
  margin-top: 1rem;
}

.instruction-container ol {
  padding: 0.5rem;
  margin-left: 1rem;
}
